<ion-header >
  <ion-navbar hideBackButton="true">
    <ion-buttons end>
      <button ion-button icon-right color="dark" (click)="dashboardPage()">SKIP<ion-icon name="ios-arrow-forward"></ion-icon></button>
    </ion-buttons>
  </ion-navbar>
</ion-header>
<ion-content padding>
  <form [formGroup]="loginForm">
    <div text-center><img src="assets/images/wrench.png" width="100" ></div>
    <ion-grid no-padding>
      
            <button ion-button icon-left block class="facebookButton" (click)="signInFacebook();">
              <i class="fa fa-facebook fa-fw" aria-hidden="true"></i>
              Sign in with Facebook
            </button>
          
            <button ion-button icon-left block class="googleButton" (click)="signInGoogle();">
              <i class="fa fa-google fa-fw" aria-hidden="true"></i>
              Sign in with Google
            </button> 
          
        <button ion-button block color="primary" (click)="openModal();"><i class="fa fa-phone fa-fw" aria-hidden="true"></i>Sign in with Phone</button>
      </ion-grid>
    <div class="container">
      <hr class="hr-text" data-content="OR">
    </div>
    <ion-list no-lines padding-top>
      <ion-item>
        <ion-label><i class="fa fa-user-circle-o fa-fw" style="color:#999999;" aria-hidden="true"></i></ion-label>
        <ion-input type="email" [(ngModel)]="account.email" placeholder="Email" name="email" required formControlName="username"></ion-input>
      </ion-item>
      <div>
        <span ion-text padding-bottom color="danger" [hidden]="!(submitAttempt && loginForm.controls.username.errors?.required)" style="display:inline-block;">
          *Email is required.
        </span>
      </div>
      <ion-item>
        <ion-label><i class="fa fa-lock fa-fw" style="color:#999999;" aria-hidden="true"></i></ion-label>
        <ion-input type="password" [(ngModel)]="account.password" placeholder="Password" name="password" formControlName="password" required></ion-input>
      </ion-item>
      <div *ngIf="(loginForm.controls.password.dirty || submitAttempt) && !loginForm.controls.password.valid" >
          <span ion-text color="danger" *ngIf="loginForm.controls.password.errors?.required" >
            *Password is required.
          </span>
      </div>
    </ion-list>
    <button ion-button block round color="primary" (click)="doLogin();">Sign in</button>
    <button text-center ion-button block color="dark" clear (click)="forgotPasswordPage();">Forgot Password?</button>
    <div padding-top>
      <div text-center ion-text color="dark"> Don't have an account? </div>
      <button ion-button block round color="primary" (click)="signupPage();"> Register Now</button>
<!--       <button ion-button block round color="primary" (click)="signup();"> Register Now!</button> -->
    </div>
  </form>
</ion-content>
