<ion-header >
  <ion-navbar  hideBackButton="true">
    <ion-title text-center>Sign up</ion-title>
    <ion-buttons end>
      <button ion-button icon-right color="primary" (click)="dashboardPage()">SKIP<ion-icon name="ios-arrow-forward"></ion-icon></button>
   </ion-buttons>
  </ion-navbar>
</ion-header>

<style>

</style>

<ion-content padding>
  <form novalidate [formGroup]="signupForm">
    <ion-list no-lines padding-top>
      <ion-item>
        <ion-input type="email" [(ngModel)]="account.email" name="email" required formControlName="username" placeholder="Email"></ion-input>
      </ion-item>
      <span *ngIf="!signupForm.controls.username.valid && (signupForm.controls.username.dirty || submitAttempt)" class="help-block text-danger">
        <div ion-text class="warning-msg" *ngIf="signupForm.controls.username.errors?.email && !signupForm.controls.username.errors?.required">
          * Username must be an email.
        </div>
        <div ion-text class="warning-msg" *ngIf="signupForm.controls.username.errors?.required">
          * Username is required.
        </div>
      </span>
      
      <ion-item>
        <ion-input type="text" [(ngModel)]="account.fName" name="fName" required formControlName="fName" placeholder="First Name"></ion-input>
      </ion-item>
      <span *ngIf="!signupForm.controls.fName.valid && (signupForm.controls.fName.dirty || submitAttempt)">
        <div ion-text class="warning-msg" *ngIf="signupForm.controls.fName.errors?.pattern">
          * First name can only contain letters.
        </div>
        <div ion-text class="warning-msg" *ngIf="signupForm.controls.fName.errors?.required">
          * First name is required.
        </div>
      </span>

      <ion-item>
        <ion-input type="text" [(ngModel)]="account.lName" placeholder="Last Name" required formControlName="lName" name="lName"></ion-input>
      </ion-item>
      <span *ngIf="!signupForm.controls.lName.valid && (signupForm.controls.lName.dirty || submitAttempt)">
        <div ion-text class="warning-msg" *ngIf="signupForm.controls.lName.errors?.pattern">
          * Last name can only contain letters.
        </div>
        <div ion-text class="warning-msg" *ngIf="signupForm.controls.lName.errors?.required">
          * Last name is required.
        </div>
      </span>

      <div formGroupName="passwords">
        <ion-item>
          <ion-input type="password" [(ngModel)]="account.password" placeholder="Password" required formControlName="password" name="password"></ion-input>
        </ion-item>
        <span *ngIf="!signupForm.controls.passwords.valid && (signupForm.controls.passwords.dirty || submitAttempt)">
          <div ion-text class="warning-msg" *ngIf="!signupForm.controls.passwords.errors?.areEqual && this.signupForm.get('passwords.password').valid">
            * Passwords do not match.
          </div>
          <div ion-text class="warning-msg" *ngIf="!this.signupForm.get('passwords.password').valid">
            * Password must be at least 6 characters long.
          </div>
        </span>
        
        <ion-item>
          <ion-input type="password" [(ngModel)]="account.cfmPassword" placeholder="Confirm Password" required formControlName="cfmPassword" name="cfmPasswords"></ion-input>
        </ion-item>
        <span *ngIf="!signupForm.controls.passwords.valid  && (submitAttempt || signupForm.controls.passwords.dirty)">
          <div ion-text class="warning-msg" *ngIf="!signupForm.controls.passwords.errors?.areEqual && this.signupForm.get('passwords.cfmPassword').valid" >
            * Passwords do not match.
          </div>
          <div ion-text class="warning-msg" *ngIf="!this.signupForm.get('passwords.cfmPassword').valid">
            * Confirm password must be at least 6 characters long.
          </div>
        </span>
      </div>

    </ion-list>
    <button ion-button block round color="primary" (click)="signup();">Confirm</button>
    <div padding>
      <div text-center ion-text>Already have an account? </div>
      <button ion-button block round color="primary" (click)="loginPage();">Login Here</button>
    </div>
  </form>
</ion-content>
