<!--
  Generated template for the BookservicePage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>
    <ion-navbar  hideBackButton="false">
      <ion-title text-center>Quick Service</ion-title>
      
    </ion-navbar>
  </ion-header>
  
  
  <ion-content padding>
     <div padding>
        <ion-segment color="primary" [disabled]="true" [(ngModel)]="step">
          <ion-segment-button value="step1">
            Step 1
          </ion-segment-button>
          <ion-segment-button value="step2">
            Step 2
          </ion-segment-button>
          <ion-segment-button value="step3">
            Step 3
          </ion-segment-button>
          <ion-segment-button value="step4">
            Step 4
          </ion-segment-button>
          <ion-segment-button value="step5">
            Step 5
          </ion-segment-button>
        </ion-segment>
      </div>
      
      <div [ngSwitch]="step">
        <ion-list *ngSwitchCase="'step1'">
            <ion-label>CHOOSE SERVICE</ion-label>
            <ion-list no-lines radio-group [(ngModel)]="service">
                <ion-item>
                  <ion-label>Installing</ion-label>
                  <ion-radio value="Installing" checked></ion-radio>
                </ion-item>
                <ion-item>
                  <ion-label>Repairing</ion-label>
                  <ion-radio value="Repairing"></ion-radio>
                </ion-item>
                <ion-item>
                  <ion-label>Customising</ion-label>
                  <ion-radio value="Customising"></ion-radio>
                </ion-item>
              </ion-list>
        </ion-list>
      
        <ion-list *ngSwitchCase="'step2'" [(ngModel)]="description">
          
            <h2>Problem</h2>
            <ion-item>
                <ion-label color="primary" floating>Specify your problem</ion-label>
                <ion-textarea></ion-textarea>
            </ion-item>
          
        </ion-list>
  
  
        <ion-list *ngSwitchCase="'step3'">
          
            
            
            <ion-list>
              
              <h3><ion-icon end ios="ios-home" md="md-home"></ion-icon>Your Address</h3>
              <!-- <ion-searchbar 
              [(ngModel)]="autocomplete.query" 
              [showCancelButton]="true" 
              (ionInput)="updateSearch()" 
              (ionCancel)="dismiss()"
              placeholder="Type your place ...">
              </ion-searchbar>
              <ion-list>
              <ion-item *ngFor="let item of autocompleteItems" 
              (click)="chooseItem(item)">
              {{ item.description }}
              </ion-item>
               -->
                <ion-item><ion-input type="text" placeholder="Address" [(ngModel)]="address"></ion-input></ion-item>
                <ion-item><ion-input type="number" placeholder="Postal Code" [(ngModel)]="postCode"></ion-input></ion-item>
                <ion-item><ion-input type="text" placeholder="City" [(ngModel)]="city"></ion-input></ion-item>
                <ion-item><ion-input type="text" placeholder="State" [(ngModel)]="state"></ion-input></ion-item>
      
            </ion-list>
          
        </ion-list>
  
        <ion-list *ngSwitchCase="'step4'">
          
            <h2>Estimated Price</h2>
            <ion-card>
                
                
                  <ion-card-content>
                      <ion-grid text-center>
                          <ion-row>
                            <ion-col width-50><strong>Services</strong></ion-col>
                            <ion-col width-50><strong>Range (RM)</strong></ion-col>
                          </ion-row>
                          <ng-container *ngIf="service=='Repairing'">
                          <ion-row  >
                            <ion-col width-50>Repairing</ion-col>
                            <ion-col width-50>150-200</ion-col>
                          </ion-row>
                        </ng-container>
                          <ng-container *ngIf="service=='Installing'">
                          <ion-row >
                            <ion-col width-50>Installing</ion-col>
                            <ion-col width-50>50-150</ion-col>
                          </ion-row>
                        </ng-container>
                          <ng-container *ngIf="service=='Customising'">
                          
                          <ion-row >
                              <ion-col width-50>Customising</ion-col>
                              <ion-col width-50>30-100</ion-col>
                          </ion-row>
                        </ng-container>
                        </ion-grid>
                  </ion-card-content>
                
                </ion-card>
        </ion-list>
  
        <ion-list *ngSwitchCase="'step5'">
            
              <h2>Summary</h2>
              <ion-card>
                <ion-card-content>
                  <p><strong>Service Category:</strong></p>
                  {{service}}
                  <p><strong>Description:</strong></p>
                  {{description}}
                  <p><strong>Address:</strong></p>
                  {{address}}, {{postCode}}, {{city}}, {{state}}
                  <p><strong>Quotation:</strong></p>                       
                  <ng-container *ngIf="service=='Repairing'">
                        <ion-col width-50>RM150-RM200</ion-col>
                    </ng-container>
                      <ng-container *ngIf="service=='Installing'">
                        <ion-col width-50>RM50-RM150</ion-col>
                    </ng-container>
                      <ng-container *ngIf="service=='Customising'">
                          <ion-col width-50>RM30-RM100</ion-col>
                    </ng-container>
                </ion-card-content>
              </ion-card>
              <ion-row>
                <button ion-button (click)="goToViewService()" color="danger" >Cancel</button>
                <button ion-button (click)="pushData()" color="accept"  >Request Service</button>
              </ion-row>
        </ion-list>
      </div>
  
      
      
  </ion-content>
  <ion-footer no-border text-center>
      <ion-toolbar>
          <ion-buttons left>
              <button *ngIf="step!='step1'" ion-button (click)="back()"> Back
              </button>
          </ion-buttons>
          <ion-buttons right>
              <button *ngIf="step!='step5'" ion-button (click)="next()"> Next
              </button>
          </ion-buttons>
      </ion-toolbar>
  </ion-footer>
  