<ion-header>
  <ion-navbar  hideBackButton="false">
    <ion-title text-center>View Services</ion-title>
    
  </ion-navbar>
  <ion-searchbar
  [(ngModel)]="myInput"
  [showCancelButton]="shouldShowCancel"
  (ionCancel)="onCancel($event)"
  (ionFocus)="checkFocus()"
  (ionBlur)="checkBlur()">
</ion-searchbar>
</ion-header>
<ion-content no-padding class="fb">
  <div #map id="map"></div>
<!--   <ion-row>
   <ion-col style="transition:visibility .1s .9s;" [ngClass]="{'displayLoading':isLoadingClassVisible}">
   <div>
    <br/><br/><p>We are unable to find your location.. <br/><br/><i><ion-icon name="logo-freebsd-devil"></ion-icon></i></p><br/><p style="font-size:15px;"><b>Pls turn on your GPS or move to an Open space</b></p><br/><br/><button ion-button full (click)="showRefine()">Offline Service<ion-icon name="md-navigate"></ion-icon></button>
    </div>
    </ion-col>
   </ion-row>   -->
  <ion-row style="height:0px;">
   <ion-col style="transition:transform 1s;transform:translate(0,-2000px)" [ngClass]="{'displayMap':isLoadingClassVisible}">
    <div> 
    <div id="map"></div>  
    <button full (click)="showRefine()">Near By Service<ion-icon name="md-navigate"></ion-icon></button>
    </div>  
   </ion-col>
  </ion-row>
  <div [ngClass]="{'refineClass':isrefineClass}"> 
    <p style="text-align:center">Filter by range <i>(in KM)</i></p>
    <!-- <ion-row>
    <ion-col col-9> -->
    <ion-range [(ngModel)]="kmrange" min="0.1" max="100" pin="true" style="padding:0px 15px 0px 15px" (ngModelChange)="onModelChange($event)">
      <ion-icon range-left small name="pin"></ion-icon>
      <ion-icon range-right name="pin"></ion-icon>
    </ion-range>
    <!-- </ion-col>
     <ion-col col-3>
      <button ion-button icon-only ><ion-icon name="ios-funnel-outline"></ion-icon></button>
    </ion-col>
    </ion-row> -->
    </div> 
    <ion-list>
        <h3 ion-text text-center>Services Available</h3>
        <div *ngFor="let handy of handys; let i = index">
          
         <button clear no-padding (click)="goToSearchCategory(i)" style="width: 100%;">
            <div text-wrap >
            <ion-item *ngIf="distance[i] < radius;" >
                <ion-thumbnail item-left >
                    <img src={{handy.image}}>
                </ion-thumbnail>
                <h2>{{handy.organisation_name}}</h2>
                <p>{{handy.info}}</p>
                <p><i class="fa fa-address-book-o fa-fw" aria-hidden="true"></i>{{handy.addressLine1}}</p>
                <p><i class="fa fa-phone fa-fw" aria-hidden="true"></i>{{handy.phone_number1}}</p>
                <p style="font-weight: bold;">{{distance[i]}}km from you</p>
                <p><ion-icon name="star"style= "color: #ffb400;"></ion-icon>{{handy.rating}}</p>
              </ion-item>
            </div>  
         </button>
        </div>
       </ion-list>
  
  
  
  </ion-content>
  

